
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

header {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nombre_seccion h1 {
    font-family: "Inconsolata", monospace;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px bisque;
    font-size: 40px;
    margin-top: 150px;
}

.header-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 15px;
    left: 2.5%;
    width: 95%;
    height: 90px;
    background-color: #979782dc; 
    margin: 0;
    border-radius: 15px;
    top: 3.2%;
    z-index: 1;
}

.logo {
    max-height: 80px; 
    padding: 5px;
}

.logo img {
    height: 80px;
}

.navbar {
    font-size: 18px; 
    background-color: transparent;
    text-align: right; 
    padding-right: 20px;
    margin-left: auto;
    z-index: 1;
}

.navbar a {
    display: inline-block;
    color: #ffffff; 
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
    border-radius: 15px; 
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.dropbtn {
    display: inline-block;
    color: #ffffff; 
    font-family: "Hurme Geometric Sans No.2";
    font-size: 18px; /* Mismo tamaño de fuente que navbar */
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
    border-radius: 15px; 
    background-color: transparent; /* Botón transparente por defecto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
}

.dropbtn:hover { /* Añadimos estilo al enfocar */
    background-color: rgba(255, 255, 255, 0.2); /* Color al pasar el ratón */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px; /* Ajusta el margen superior para separar del header */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97978200;
    min-width: 160px;
    padding-top: 30px;
    border-radius: 15px;
    z-index: 1;
}
.dropdown-content a {
    color: #f67e07;
    font-weight: 700;
    margin-right: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ede6e6;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Codigo Juan desde aqui */

p {
    font-family: "Urbanist", sans-serif;
    color: bisque;
    line-height: 1.6;
    font-size: 17px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
  }
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    p {
        font-size: 19px;
    };
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    p {
        font-size: 21px;
    };
  }

.img_ella {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-top: 5%;
}

body {
    background-image: url(/img/lampara.JPG);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 500;
}

footer {
    background-color: #979782;
    border-radius: 15px;
}

.container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.link {
    display: inline-block;
    padding-top: 100px;
}

.link ul {
    list-style-type: none;
    margin: 0;
}

.link ul li {
    display: inline-block;
    margin-right: 20px;

}

.link ul li a {
    color: #ede6e6;
    text-decoration: none;
    font-size: 15px; 
    align-items: center;
    display: inline-flex; /* Para alinear los elementos internos */
    justify-content: center; /* Para centrar horizontalmente */
    width: 45px; /* Ajusta el tamaño del contenedor del ícono */
    height: 45px; /* Ajusta el tamaño del contenedor del ícono */
    border-radius: 50%; /* Hace que el borde sea redondo */
    background-color: #dbcdcd72;
    transition: background-color 0.3s, color 0.3s; /* Añade una transición suave */
}

.link ul li a i {
    font-size: 25px;
    color: #ede6e6;
}

.link ul li a:hover {
    background-color: #ede6e6; 
    color: #534f4f; 
}

.link ul li a:hover i {
    color: #534f4f; 
}

.derechos {
    padding-top: 100px;
}

.derechos p{
    font-weight: normal;
}

.derechos {
    font-weight: bold;
}